body {
	background-image: url("../images/space1.jpg");
	background-size: cover;
}

header {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	font-size: 36px;
	letter-spacing: 27px;
	background: black;
	text-transform: uppercase;
	font-weight: bolder;
	color: white;
	padding: 5px 0 5px 15px;
	height: 85px;
	width: 101.6%;
	margin: 0 -30px 0 -15px;
}

main {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color: white;
	font-weight: bolder;
	letter-spacing: 15px;
}

span {
	z-index: 3;
	height: 100%;
	width: 100%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color: white;
	font-weight: bolder;
	letter-spacing: 5px;
	padding: 40px 45px;
}

#timerTitle {
	text-align: right;
}

#timer {
	text-align: left;
}

#gameCont {
	margin-top: 75px;
	margin-bottom: 50px;
	background-color: #3D4D42;
	height: 650px;
	padding: 5%;
}

#questionCont {
	margin: 20px 15px;
	font-family: 'ABeeZee', sans-serif;
	letter-spacing: 8px;
}

#answerCont {
	margin: 20px 15px;
	font-family: 'ABeeZee', sans-serif;
	letter-spacing: 8px;
}
